* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 20px 0;
}

.nav-link {
    list-style-type: none;
    display: flex;
}

.nav-link li a {
    text-decoration: none;
    padding: 20px;
    color: grey;
    font-size: 1.2rem;
}

.nav-link li a:hover {
    color: blue !important;
    font-weight: bold;
}

.user_btn {
    color: white;
    font-size: 1rem;
    padding: 10px;
    background-color: skyblue;
    border: none;
    border-radius: 10px;
}

/* Navbar End */

/* Main Section Start */
.book_service_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}

.book_service {
    width: 309px;
}

.book_service_title p {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(83, 192, 236);
    margin-bottom: 5px;
}

.book_service_para p {
    color: gray;
    margin-bottom: 20px;
}

.book_service_btn button {
    color: white;
    font-size: 0.9rem;
    background-color: rgb(9, 145, 199);
    border: none;
    border-radius: 10px;
    padding: 15px;
    transition:  0.5s ease-in-out;
}

.book_service_btn button:hover {
    
     transform: scale(1.2) skew(15deg);
     cursor: pointer;

}

/* Left End */
/* Right Start */
.book_service_img img {
    height: 400px;
    width: 400px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav-link {
        display: none;
    }

    .book_service_container {
        display: flex;
        flex-direction: column;
    }

    .book_service_img img {
        height: 250px;
        width: 250px;
    }

    #menu-toggle:checked~.nav-link {
        display: flex;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {



    .nav-link li a {
        font-size: 1rem;
        padding: 10px;
    }

    .user_btn {
        font-size: 0.8rem;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav-link li a {
        font-size: 1rem;
        padding: 13px;
    }

    .user_btn {
        font-size: 0.8rem;
    }

    .book_service_img img {
        height: 350px;
        width: 350px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .nav-link li a {
        font-size: 1.1rem;
        padding: 20px;
    }

    .user_btn {
        font-size: 1rem;
    }

    .book_service_img img {
        height: 450px;
        width: 450px;
    }
}